@import 'sizing.scss';
@import 'variables.scss';

// DISPLAY
$displays: (
  'none': none,
  'block': block,
  'flex': flex,
  'inline': inline,
);

@each $display, $display-value in $displays {
  .display--#{$display} {
    display: $display-value;
  }
}

.flex-direction--row {
  flex-direction: row;
}

.flex-direction--column {
  flex-direction: column;
}

.flex-align--center {
  align-items: center;
}

.flex-align--start {
  align-items: flex-start;
}

.flex-align--end {
  align-items: flex-end;
}

.flex-justify--center {
  justify-content: center;
}

.flex-justify--start {
  justify-content: flex-start;
}

.flex-justify--end {
  justify-content: flex-end;
}

// FONT
.text-align--center {
  text-align: center;
}

.text-align--left {
  text-align: left;
}

.text-align--right {
  text-align: right;
}

$weights: (
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
);

@each $weight, $weight-value in $weights {
  .font-weight--#{$weight} {
    font-weight: $weight-value;
  }
}

.font-style--italic {
  font-style: italic;
}

.text-decoration--underline {
  text-decoration: underline;
}

.text-decoration--none {
  text-decoration: none;
}

$transformers: (
  'none': none,
  'uppercase': uppercase,
  'lowercase': lowercase,
  'capitalize': capitalize,
);

@each $transform, $transform-value in $transformers {
  .text-transform--#{$transform} {
    text-transform: $transform-value;
  }
}

// WIDTH, MAX WIDTH
$widths: (
  '10': 10%,
  '25': 25%,
  '33': 33.3%,
  '50': 50%,
  '66': 66.6%,
  '75': 75%,
  '90': 90%,
  '100': 100%,
);

@each $width, $width-value in $widths {
  .width--#{$width} {
    width: $width-value;
  }

  .max-width--#{$width} {
    max-width: $width-value;
  }
}

// CURSOR
.cursor--clickable {
  cursor: pointer;
}

// MARGIN AND PADDING
$sizes: (
  'xs': $size-xs,
  'sm': $size-sm,
  'md': $size-md,
  'lg': $size-lg,
  'xl': $size-xl,
  'auto': auto,
  'none': none,
);
$directions: 'left', 'right', 'top', 'bottom';

@each $size, $size-value in $sizes {
  .margin--#{$size} {
    margin: $size-value !important;
  }

  @if ($size != 'auto') {
    .padding--#{$size} {
      padding: $size-value !important;
    }
  }

  @each $direction in $directions {
    .margin-#{$direction}--#{$size} {
      margin-#{$direction}: $size-value !important;
    }

    @if ($size != 'auto') {
      .padding-#{$direction}--#{$size} {
        padding-#{$direction}: $size-value !important;
      }
    }
  }
}

// COLORS AND BACKGROUND
$colors: (
  'primary-500': var(--color-primary-500),
  'primary-300': var(--color-primary-300),
  'primary-700': var(--color-primary-700),
  'white': white,
  'black': var(--color-gray-900),
  'success': var(--color-success),
  'warning': var(--color-warning),
  'error': var(--color-error),
  'blue-100': var(--color-blue-100),
  'blue-500': var(--color-blue-500),
  'blue-700': var(--color-blue-700),
  'gray-400': var(--color-gray-400),
);

@each $color, $color-value in $colors {
  .color--#{$color} {
    color: $color-value !important;
  }

  .background--#{$color} {
    background-color: $color-value !important;
  }
}
